
.list-group a:hover{
  color: #182C61;
  background-color: white;
  border-radius: 10px;
  font-weight: 700;
}

.list-group a{
  background-color: #182C61;
  color: white;
  font-weight: 600;
  border-radius: 10px;

   

  }

