

/* css for Experrience */

.timeline {
    position: relative;
    padding-left: 20px;
}

.timeline::before {
    content: '';
    position: absolute;
    top: 0;
    left: 10px;
    height: 100%;
    border-left: 2px solid #93e8ff;
}

.timeline-item {
    padding: 20px 0;
    position: relative;
}

.timeline-item::before {
    content: '●'; /* Use a different symbol if needed */
    position: absolute;
    top: 50%;
    left: -22px;
    font-size: 0px;
    transform: translateY(-50%);
    background-color: #182C61; /* Timeline Symbol Color */
    color:none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    border: 7.5px solid #03A9F4;
    text-align: center;
    line-height: 20px;
}

.timeline-content {
    background-color: #182C61;
    color: white;
    padding: 20px;
    border-radius: 5px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.timeline-title {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}

.organization {
    font-weight: 500;
    font-size: 17px;
    background-color: #FFC312;
    color: #182C61;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 4px;
}

.period {
    font-size: 18px;
}

.timeline-skills {
    margin-top: 20px;
}

.timeline-skills span {
    padding: 4px 6px;
    border-radius: 20px;
    margin-right: 10px;
    background-color: #93e8ff;
    color: #182C61;
    font-weight: 500;
}